* {
  margin: 0px;
}

#additionalList {
  float: right;
  margin-top: 40%
}

li {
  list-style-type:none;
    cursor: pointer;
}

li:hover {
background: tomato;
transition: 0.5s ease;
}

#alert {
background-color: green;
width: 50%;
margin: auto;
text-align: center;
display: none;
}

#pizzaNameList , #sizeNameList {
  margin-top: 110px;
}

#additionalList {
  margin-bottom: 50px;
}
